 body{ 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3c83df;
    display: flex;
    justify-content: center;
    align-items: 100vh;
    margin: 0;
 } 

 .formulario{
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(red, green, blue, alpha);

 }

 .formulario label{
    display: block;
    margin-bottom: 5px;
    color: #333333;
    font-weight: bold;
 }

 .formulario input[type="text"]
 .formulario input[type="email"]
 .formulario textarea,
 .formulario select {
width: 100px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: border-box;
 }

 .formulario input[type="submit"]{
    background-color: #aCAF50;
    color: white;
    padding: 10px;
    boeder: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
 }

 .formulario input[type="submit"] :hover {
    
 }